# Add files here to ignore them from prettier formatting
**/*.json
!**/locale/**/*.json
**/*.md
**/*.yml
.next
.vercel
.cache/
.venv/
.nx/
.vscode/
.github/
tmp/
dist/
build/
node_modules/
apps/scheduler/