services:
  backend:
    build:
      dockerfile: apps/backend/Dockerfile
      context: .
      args:
        DOMAIN: ${DOMAIN}
        FRONTEND_LOCAL_BASE_URL: ${FRONTEND_LOCAL_BASE_URL}
        DIGITALOCEAN_KEY: ${DIGITALOCEAN_KEY}
        DIGITALOCEAN_SECRET: ${DIGITALOCEAN_SECRET}
        JWT_SECRET: ${JWT_SECRET}
        DASHBOARD_JWT_SECRET: ${DASHBOARD_JWT_SECRET}
        MONGODB_URI: ${MONGODB_URI} # Change in GitHub when mongo goes back to external
        # MONGO_CA_CERTIFICATE: ${MONGO_CA_CERTIFICATE} # Add when mongo goes back to external
        RECAPTCHA_SECRET_KEY: ${RECAPTCHA_SECRET_KEY}
        DIGITALOCEAN_ENDPOINT: ${DIGITALOCEAN_ENDPOINT}
        DIGITALOCEAN_SPACE: ${DIGITALOCEAN_SPACE}
        RECAPTCHA: ${RECAPTCHA}
    image: ${REGISTRY}/lems-backend:${IMAGE_TAG}
    ports:
      - '3333:3333'
    networks:
      - lems-network
      - mongonet # Remove when mongo goes back to external
    restart: always

  frontend:
    build:
      dockerfile: apps/frontend/Dockerfile
      context: .
      args:
        RECAPTCHA_SITE_KEY: ${RECAPTCHA_SITE_KEY}
        BASE_URL: ${BASE_URL}
        NEXT_PUBLIC_BASE_URL: ${NEXT_PUBLIC_BASE_URL}
        WS_URL: ${WS_URL}
        NEXT_PUBLIC_WS_URL: ${NEXT_PUBLIC_WS_URL}
        DIGITALOCEAN_ENDPOINT: ${DIGITALOCEAN_ENDPOINT}
        DIGITALOCEAN_SPACE: ${DIGITALOCEAN_SPACE}
        RECAPTCHA: ${RECAPTCHA}
    image: ${REGISTRY}/lems-frontend:${IMAGE_TAG}
    ports:
      - '4200:4200'
    networks:
      - lems-network
    restart: always

networks:
  lems-network:
    driver: bridge
  # This network was created externally for Mongo 7 support.
  # Remove the network from prod and this file before deploying with external Mongo again.
  mongonet:
    external: true
