# This is a template .env.local file for the schedule application.
# In order for all LEMS features to work properly, you will need to fill in
# the sensitive values which have been omitted from this file, and
# rename this file to `.env.local` in the `apps/schedule` directory.

# Database connection
DB_NAME="lems-local"
MONGODB_URI="mongodb://127.0.0.1:27017"
PG_HOST="127.0.0.1"
PG_PORT="5432"
PG_USER="postgres"
PG_PASSWORD="password"